.name {
  font-size: 0.6rem;
}

.avatar-container {
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.avatar {
  display: none;
}

.button {
  font-size: 0.5rem;
  padding: 0.5rem;
  border-radius: 0 0 6px 6px !important;
}

.card-content {
  padding: 0.5rem;
}
