<main class="mx-5 d-flex flex-column h-100">
  <nav
    class="d-flex justify-content-between align-items-center mt-4 px-4 pt-2 bg-header rounded-top-4"
  >
    <h1
      class="display-6 d-inline text-light"
      style="font-family: 'Comic Sans MS', sans-serif"
    >
      Narutopedia
    </h1>
    <img src="../favicon.ico" style="height: 96px" />
    <div class="d-flex align-items-stretch">
      <input
        class="form-control rounded-0"
        type="text"
        placeholder="Find character by name"
      />
      <button class="btn btn-light mx-2 h-100">Search</button>
    </div>
  </nav>
  <section class="flex-grow-1">
    <app-gallery></app-gallery>
  </section>
</main>
