<main class="h-100 py-4 px-5">
  <div class="d-flex flex-column h-100">
    <nav
      class="d-flex justify-content-between align-items-center px-4 pt-2 bg-header rounded-top-4 main-shadow"
    >
      <h1
        class="display-6 d-inline text-light"
        style="font-family: 'Comic Sans MS', sans-serif"
      >
        Narutopedia
      </h1>
      <img src="../favicon.ico" style="height: 96px" />
      <app-search-bar></app-search-bar>
    </nav>
    <section class="flex-grow-1 bg-section main-shadow">
      <app-gallery></app-gallery>
    </section>
  </div>
</main>
