<main class="mx-5">
  <nav
    class="d-flex justify-content-between align-items-center my-4 p-4 bg-danger rounded-top-4"
  >
    <h1 class="display-6 d-inline text-light">Naruto project 🥷🏼</h1>
    <div class="d-flex align-items-stretch">
      <input
        class="form-control rounded-0"
        type="text"
        placeholder="Find character by name"
      />
      <button class="btn btn-light mx-2 h-100">Search</button>
    </div>
  </nav>
  <section>
    <app-gallery></app-gallery>
  </section>
</main>
